.wrapper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 20px;
}

.image-wrapper {
    max-height: 200px;
    max-width: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.image-wrapper img {
    height: 100%;
    width: 100%;
    width: 200px;
    height: 200px;
}